out
node_modules
.vscode-test/
*.vsix
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
*.log
*.pid
*.seed
*.pid.lock
coverage/
.coverage
.nyc_output
.grunt
bower_components
.lock-wscript
build/Release
node_modules/
jspm_packages/
typings/
*.tsbuildinfo
.eslintcache
.cache
.parcel-cache
.next
.nuxt
dist
.tmp
.sass-cache
*.css.map
*.js.map
*.d.ts.map
*.sh