**/.DS_Store
**/node_modules
**/out/**
**/*.map
src/**
.vscode/**
.vscode-test/**
tsconfig.json
.editorconfig
.gitignore
webpack.config.js
.eslintrc.json
**/.eslintrc.json
**/webpack.config.js
**/tsconfig.json
**/*.ts
!out/**/*.js
.git/**
.github/**
**/*.vsix
**/*.tgz
**/*.zip
**/*.tar.gz
**/*.log
coverage/**
.nyc_output/**
**/*.test.*
**/*.spec.*
**/test/**
**/tests/**
**/coverage/**
**/.coverage
**/.nyc_output
**/.grunt
**/bower_components
**/.lock-wscript
**/build/Release
**/jspm_packages/
**/typings/
**/*.tsbuildinfo
**/.eslintcache
**/.cache
**/.parcel-cache
**/.next
**/.nuxt
**/dist
!out/extension.js
**/.tmp
**/.sass-cache
**/*.css.map
**/*.js.map
**/*.d.ts.map
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*